body{margin-left:auto;margin-right:auto;width:100%;height:100%;margin-top:0px;margin-bottom:0px;background:#f5f5f5;font-family: '微软雅黑';font-size: 100%;font-weight: normal;}
img{border:0px;}
body{ text-align:left; font-style:normal; font-size:12px; line-height:20px; }
h1,h2,h3,p,font,dd,div,A,dl,ul,li,dd,sapn,form{margin:0px;padding:0px;}
a { color:#333; text-decoration:none;}
a:hover{text-decoration:underline;}
ul{color:#999999; list-style-type:none;margin:0px;padding:0px;}
li{color:#999999;margin:0px;list-style-type:none;margin:0px;padding:0px;}
.home{width:960px;margin:auto;}
#logo{float:left;width:160px;height:60px;background: url(../images/logo.gif);text-indent: -999em;margin-top:10px;}
.lz{float:left;width:400px;height:60px;padding-top:20px;margin-left:70px;}
.ly{float:right;width:300px;height:60px;margin-top:10px;}
.ly p{float:right;font-size:14px;line-height:60px;color:#666;margin-left:20px;}
.dh{float:left;width:960px;height:36px;background:#44c1c1;margin-top:10px;}
.dh li{width:100px;height:36px;float:left;line-height:33px;color:#fff;text-align:center;background:url(../images/dhx.gif) right 6px no-repeat;}
.dh li a{font-size:14px;color:#fff;display:block;width:90px;margin-left:5px;height:36px;}
.dh li a:hover{background:#00b5b5;border-bottom: #007d7d 3px solid;height:33px;}
.dh p{width:100px;float:left;height:36px;background:#007d7d;line-height:36px;text-align:center;}
.dh p a{color:#fff;}
.so{float:left;width:400px;height:60px;margin-right:10px;}
#soso{float:right;width:300px;height:40px;margin-top:10px;}
#sou{float:left;width:320px;height:37px;color:#333;}
#kuang{float:left;width:320px;height:33px;border:1px solid #e9e9e9;color:#333;font-size:16px;margin-top:0px;margin-right:-40px;line-height:33px;background:#fff;}
.xinx{float:left;width:250px;height:60px;}
.sp{float:left;width:960px;margin-top:10px;height:280px;}
.spz{float:left;width:688px;margin-right:20px;height:280px;border: #e9e9e9 1px solid;background:#fff;}
.flash{float:left;width:440px;height:260px;margin:10px;border-right: #e9e9e9 1px solid;display:inline;display:inline;}
.fly{float:left;width:227px;height:280px;}
.fly ul{padding-top:10px;padding-bottom:10px;padding-right:10px;}
.fly dl{width:100px;height:24px;background:url(../images/tj.gif)  no-repeat;padding-left:10px;line-height:24px;color:#fff;margin-bottom:5px;}
.fly li{line-height:23px;font-size:12px;}
.fly li a{color:#666;}
.fly li a:hover{color:#007d7d;}
.fly p{width:60px;height:20px;background:#ccc;line-height:20px;color:#fff;font-size:12px;text-align:center;}
.spy{float:left;width:248px;height:280px;border: #e9e9e9 1px solid;background:#fff;}
.spy dl{width:160px;height:36px;background:url(../images/fx.gif)  no-repeat;text-indent: -999em;margin-top:5px;}
.spy ul{padding-left:10px;padding-right:10px;}
.spy p{margin-top:10px;}
.spy span{float:right;}
.spy li{float:left;width:110;margin-top:10px;}
.zw{width:690px;float:left;margin-top:10px;margin-right:20px;}
.zwz{float:left;width:688px;height:240px;border: #e9e9e9 1px solid;background:#fff;}
.zwz h2{height:50px;line-height:50px;padding-left:20px;margin-top:10px;}
.zwz h2 a{padding-left:40px;background:url(../images/tt.gif) 4px no-repeat;font-size:22px;font-weight: normal;color:#333;}
.zwz h2 a:hover{color:#007d7d;}
.zwz p{font-size:12px;color:#8b8b8b;padding-left:20px;padding-right:20px;line-height:22px;}
.zwz p span{height:22px;line-height:22px;background:#71b84a;text-align:center;padding-left:10px;padding-right:10px;margin-left:10px;}
.zwz p span a{color:#fff;}
.zwwz{display:block;width:648px;margin-left:20px;margin-right:20px;background:#f9f9f9;margin-top:20px;}
.zwwz li{font-size:12px;line-height:24px;float:left;width:324px;border-bottom: #d6d6d6 1px dotted;}
.zwwz li a{color:#007d7d;}
.zwwz li a:hover{color:#333;}
.zwwz li span{color:#333;padding-right:5px;}
.zwwz li span a{color:#333;}
.zby{float:left;width:250px;margin-top:10px;}
.zwy{float:left;width:248px;height:380px;border: #e9e9e9 1px solid;background:#fff;}
.zwy dl{font-size:20px;line-height:40px;color:#333;padding-left:10px;height:40px;}
.zwy ul{padding:10px;}
.zwy li{border-bottom: 1px dashed #ddd;line-height: 35px;overflow: hidden;}
.zwy li a{padding-left:5px;}
.zwy li a:hover{color:#007d7d;}
.zwy li span {padding:0px 5px;background-color: #00b5b5;color: #fff;}
.zbq{float:left;width:248px;height:215px;border: #e9e9e9 1px solid;background:#fff;margin-top:10px;}
.zbq dl{font-size:20px;line-height:40px;padding-left:10px;color:#333;}
.zbq ul{padding-left:10px;padding-right:10px;}
.zbq a{padding:5px;}
.tuzs{float:left;width:688px;height:355px;border: #e9e9e9 1px solid;background:#fff;margin-top:10px;}
.tuzs dl{font-size:21px;line-height:50px;padding-left:20px;color:#333;}
.tuzs li {float:left;width:172px;height:140px;text-align:center;margin-top:5px;display:inline;}
.tuzs li a{width:172px;height:150px;display:block;}
.tuzs li a:hover{color:#007d7d;background:#f7f7f7;}
.tuzs img{width:150px;height:90px;padding:10px;}
.tuzs li p{font-size:12px;line-height:18px;color:#555;padding-left:10px;padding-right:10px;text-align:left;}
.fenl{float:left;width:958px;margin-top:10px;border: #e9e9e9 1px solid;background:#fff;}
.fenzu{width: 905px;margin: 0 auto;clear: both;border-bottom: 1px solid #EFECE8;margin-top:15px;}
.fenzu h3{height: 40px;width: 180px;font-size: 16px;font-weight: 100;float: left;color:#666;}
.tabs {height: 40px;line-height: 25px;color:#666;}
.tabs a {padding: 0px 5px;color: #007d7d;}
.mod-c {padding: 20px 0px;width: 300px;overflow: hidden;border-bottom: 1px solid #EFECE8;float: left;display: inline;margin-left:15px;}
.mod-c .pic {width: 85px;overflow: hidden;}
.mod-c .info {width: 210px;overflow: hidden;}
.left {float: left;display: inline;}
.mod-c .pic img {width: 75px;height: 75px;border: 1px solid #ECECEC;padding: 1px;}
.mod-c .d1 {width: 210px;overflow: hidden;}
.mod-c .d1 h3 {float: left;font-weight: 100;padding-right: 10px;}
.mod-c .d1 h3 a {font-size: 16px;color: #1D80AA;}
.mod-c .d1 span {font-size: 12px;color: #999;line-height: 22px;}
.mod-c .d2 {clear: both;overflow: hidden;margin-top: 5px;}
.mod-c .d2 a {margin-right: 5px;margin-top: 5px;display: block;float: left;white-space: nowrap;padding: 0px 2px;display: inline;color: #333;}
.jdyl{float:left;width:958px;margin-top:10px;border: #e9e9e9 1px solid;background:#fff;padding-bottom:15px;}
.ylks{float:left;width:958px;margin-top:10px;}
.ylks ul{padding-left:20px;padding-right:20px;}
.ylks li{float:left;width:50%;line-height:30px;border-bottom: 1px dashed #ddd;height:30px;}
.ylks li a{color:#666;}
.ylks li a:hover{color:#007d7d;text-decoration:underline;}
.ylks li span{color:#007d7d;padding-right:5px;}
.ylks li span a{color:#007d7d;}
.ylks li p{float:right;padding-right:10px;}
.fzrm{float:left;width:958px;margin-top:10px;border: #e9e9e9 1px solid;background:#fff;padding-bottom:15px;}
.fzrm dl{width:300px;height:50px;line-height:50px;color:#666;padding-left:20px;font-size:18px;border-bottom: 1px dashed #ddd;}
.fzrm ul{padding-left:20px;padding-right:20px;}
.fzrm li{line-height:30px;font-size:12px;color:#666;margin-top:10px;}
.fzrm li a{padding-right:16px;color:#666;}
.fzrm li a:hover{color:#007d7d;text-decoration:underline;}

.youl{float:left;width:958px;margin-top:10px;border: #e9e9e9 1px solid;background:#fff;padding-bottom:15px;}
.youl dl{width:300px;height:50px;line-height:50px;color:#666;padding-left:20px;font-size:18px;}
.youl ul{padding-left:20px;padding-right:20px;}
.youl li{line-height:30px;font-size:12px;color:#666;float:left;height:30px;margin-right:10px;white-space:nowrap;overflow-y:hidden;display:block;height:30px;}
.youl li a{color:#666;}
.youl li a:hover{color:#007d7d;text-decoration:underline;}
.foot{width:100%;margin-left:0px;margin-right:0px;float:left;margin-top:20px;background:#333;height:80px;}
.foot ul{padding:10px;}
.foot p{font-size:12px;color:#999;line-height:30px;text-align:center;height:30px;}
.foot p a{color:#00b5b5;}
.foot p a:hover{text-decoration:underline;}
.dangq{float:left;width:960px;height:30px;margin-top:5px;}
.dangq p{background:url(../images/dq.jpg) 6px no-repeat;padding-left:28px;font-size:12px;line-height:27px;color:#666;}
.dangq p a{color:#666;padding-left:3px;padding-right:3px;}
.listz{float:left;width:690px;margin-top:10px;margin-right:20px;}
.listy{float:left;width:250px;margin-top:10px;}

.knxh{float:left;width:688px;height:250px;border: #e9e9e9 1px solid;background:#fff;}
.knxh dl{font-size:21px;line-height:50px;padding-left:20px;color:#666;}
.knxh li {float:left;width:172px;padding-bottom:10px;text-align:center;margin-top:5px;display:inline;}
.knxh li a{width:172px;height:150px;display:block;}
.knxh li a:hover{color:#007d7d;background:#f7f7f7;}
.knxh img{width:150px;height:90px;padding:10px;}
.knxh li p{font-size:12px;line-height:18px;color:#555;padding-left:10px;padding-right:10px;text-align:left;}
.listks{float:left;width:688px;border: #e9e9e9 1px solid;background:#fff;margin-top:10px;}
.listks h2{height:50px;line-height:50px;color:#666;padding-left:20px;font-size:18px;}
.lisdh{height:30px;width:688px;}
.lisdh ul{padding-left:20px;padding-right:20px;height:30px;border-bottom: #e9e9e9 1px solid;}
.lisdh p{background:#00b5b5;float:left;margin-right:10px;}
.lisdh p a{color:#fff;padding:0 5px;display:block;}
.lisdh p a:hover{background:#999;padding:0 5px;}
.liszw{float:left;width:688px;background:#fff;border-left: #e9e9e9 1px solid;border-right: #e9e9e9 1px solid;border-bottom: #e9e9e9 1px solid;padding-bottom:20px;}
.liszw ul{padding-left:20px;padding-right:20px;}
.liszw li{font-size:16px;line-height:32px;padding-bottom:20px;padding-top:20px;border-bottom: 1px dashed #ddd;}
.liszw li a{color:#007d7d;background:url(../images/lb.gif) 6px no-repeat;padding-left:30px;}
.liszw span{float:right;font-size:14px;}
.liszw p{color:#999;font-size:12px;line-height:22px;}
.lixb {color:#007d7d;text-decoration:none;}
.lixb a{color:#007d7d;}

.fenye{float:left;width:688px;background:#fff;border-left: #e9e9e9 1px solid;border-right: #e9e9e9 1px solid;border-bottom: #e9e9e9 1px solid;}

/*---tag---*/
.nrmk4{float:left;width:250px;margin-top:10px;background:#fff;}
#tab1{width:248px;height:30px;background:#fff;border: #e9e9e9 1px solid;}
#tab1 li{float:right;width:50px;line-height:30px;font-size:12px;}
#tab1 li a{width:50px;height:30px;text-align:center;color:#000;display:block;}
#tab1 li a:hover{color:#fff;}
#tab1 li.nob{color:#fff;BACKGROUND:#00b5b5 ;font-weight:}
#tab1 li.nob a{color:#fff;}
#tab1 dl{float:left;line-height:30px;padding-left:10px;color:#007d7d;font-size:12px;}
.jtzw {width:248px;display:none;border-left: #e9e9e9 1px solid;border-right: #e9e9e9 1px solid;border-bottom: #e9e9e9 1px solid;}
.jtzw ul{padding:10px;}
.jtzw li{line-height:30px;font-size:12px;height:30px;}
.jtzw li p{float:left; background:#00b5b5;color:#fff;line-height:14px;margin-top:7px;margin-right:5px;height:14px;width:14px;text-align:center;}
.jtzw li a:hover{color:#00b5b5;}
.block{display:block;}
/*-------看效果---*/

.col2{float:left;width:250px;margin:0px 0 0px 0;position:relative;margin-top:10px;}
.div1{}
.div2{position:fixed;_position:absolute;top:0;z-index:300;}
/*---内容页---*/
.arzw{float:left;width:688px;background:#fff;border: #e9e9e9 1px solid;padding-bottom:20px;margin-bottom:10px;}
.arzw h2{line-height: 60px;font-size: 26px;font-weight: 100;font-family: microsoft yahei,arial;padding-left:20px;padding-right:20px;color:#666;padding-top:10px;}
.arzw p{font-size: 12px;padding-left: 20px;font-style: normal;color: #666;}
.arzw span{float:right;background:url(../images/x.gif) 3px no-repeat;padding-left:20px;padding-right:20px;}
.arwzks{float:left;width:648px;background:#fff;padding-bottom:20px;margin-bottom:10px;margin:20px;border-top: #e9e9e9 1px solid;padding-top:10px;display:block;word-wrap: break-word; word-break: break-all; display:inline;font-size: 16px;color: #333;line-height:30px;}
.arwzks p{color:#333;padding:0px;font-size:16px;}
.arwzks img {max-width:620px; width:620px; width:expression(document.body.clientWidth>;620?"620px":"auto");overflow:hidden;padding:10px;border:1px solid #dfdfdf;}
.arfx{float:left;margin-left:20px;margin-right:20px;height:40px;width:300px;display:inline;background:url(../images/fxd.gif)  no-repeat;}
.arfx li{float:left;}
.arfx p {float:left;}
.arsxp{float:left;height:30px;width:648px;display:inline;}
.arsxp p{font-size:12px;color:#333;line-height:30px;}
.arsxp p a{color:#007d7d;padding-left:10px;}
.arsxp p span{float:right;}
/*---分页---*/
.jogger {padding-top:10px;padding-bottom: 10px; text-align: center;}
.jogger li{display: inline;line-height: 22px;text-decoration: none;font-size:12px;}
.jogger A {MARGIN: 2px; COLOR: #ffffff;  BACKGROUND-COLOR: #00b5b5; TEXT-DECORATION: none;padding:0 6px;}
.jogger A:hover { MARGIN: 2px; COLOR: #ffffff;  BACKGROUND-COLOR: #ccc;padding:0 6px;}
.jogger A:active { MARGIN: 2px; COLOR: #fff;  BACKGROUND-COLOR: #ccc;padding:0 6px;}
.jogger SPAN.thisclass {MARGIN: 2px; COLOR: #fff; BACKGROUND-COLOR: #00b5b5;padding:0 6px;}
.jogger SPAN.disabled {DISPLAY: none}
/*-----------TAG-----*/
.tag{float:left;width:960px;margin-top:10px;}
.tag h2{line-height:40px;font-size:21px;color:#44c1c1;}
.zxtag{float:left;width:960px;margin-top:10px;}
.zxtag h3{line-height:40px;font-size:21px;color:#44c1c1;}
.zxtag a{float:left;padding:0 5px;font-size:12px;line-height:30px;white-space:nowrap;border: #e9e9e9 1px solid;margin:5px;}
/*----首页标签模块----*/